h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}
:root {
  --primary-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --primary-black-color: #2e2f42;
  --primary-white-color: #ffffff;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --body-text-color: #434455;
  --helper-text-color: #8e8f99;
  --primary-success-color: #31d0aa;
  --primary-accent-color: #e7e9fc;
  --secondary-accent-color: #0288d1;
  --active-link-color: #f44336;
  --white: #fff;
  --cloud: #f4f4fd;
  --grey-70perc: #2e2f42b2;
}
body {
  font-family: var(--primary-font);
  font-size: 14px;
  color: var(--body-text-color);
  background-color: var(--primary-white-color);
  margin: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon {
  fill: none;
}


@media screen and (min-width: 428px) {
  .container {
    /* width: 428px; */
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}

header .hamburger-container { 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
.hamburger-container .menu-toggle {
    display: none;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}
.nav-menu-studio {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--primary-black-color);
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.current {
  color: #404bbf;
}
.current::after {
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-menu-studio:hover:after {
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-menu-studio:hover,
.nav-menu-studio:focus {
  color: var(--pressed-state-color);
}
.address-menu-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-menu-list-item:hover,
.address-menu-list-item:focus {
  color: var(--pressed-state-color);
}

.menu {
  display: flex;
  gap: 40px;
  margin: 0;
  list-style: none;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .header-nav,
  .header-contacts-list {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}
.header-contacts .header-contacts-list-item {
  color: var(--slate, #434455); 
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.address-menu-list {
  display: flex;
  flex-direction: column;
  align-content: left;
  gap: 40px;
  margin-bottom: 56px;
}
.address-menu-list-item {
  
  color: var(--slate, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-menu-list-item:hover,
.address-menu-list-item:focus {
  color: var(--pressed-state-color);
  font-size: 36px;
  font-weight: 700;
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.social-links {
  display: flex;
  gap: 56px;
  flex-shrink: 0;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}
.social-links-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
}
.social-links .link:hover {
  background-color: var(--primary-success-color);
}
.social-links .icon {
  fill: var(--cloud);
}
/* header */

.container {
  min-width: 320px;
  max-width: 1170px;
}

.page-header {
  background-color: var(--white);
  max-width: 428px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 24px 16px;
  border-bottom: 1px solid var(--primary-accent-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);  
}
/* @media screen and (max-width: 427px) {
  .page-header {
    width: 428px;
  }
} */
@media screen and (min-width: 428px) {
.page-header {
    width: 100%;
  }
}
@media screen and (min-width: 428px) {
  .page-header {
    width: 100%;
  }
}

/* header logo */
.header-logo-text {
  font-family: var(--title-font);
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: var(--primary-brand-color);  
}
.header-logo-studio {
  color: var(--primary-black-color);
 }
 /* header email phone */
.header-contacts {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1158px) {
  .header-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-contacts__item + .header-contacts__item {
    margin-left: 40px;
  }
}

.header-contacts__icon--envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.header-contacts__icon--smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.header-contacts__icon {
  margin-right: 10px;
}

.header-contacts-list-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color 250ms var(--cubic);
}
.header-contacts__mail-link:hover, .header-contacts__mail-link:focus, .header-contacts__mail-link:hover, .header-contacts__mail-link:focus,
.header-contacts__phone-link:hover,
.header-contacts__phone-link:focus,
.header-contacts__phone-link:hover,
.header-contacts__phone-link:focus {
  color: var(--brend-color);
}

/* header-menu-container */
.dropbox {  
  position: fixed;
  top: 0;
  left: 0;
}
.menu-container {  
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1);
  width: 428px;
  height: 796px;
  padding: 80px 35px 40px 40px;
  background: var(--white, #FFF);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  background-color: var(--primary-white-color);
  z-index: 999;
  transform: translateY(200%);
  transition: transform 250ms ease-in-out;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.js-close-menu {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--icons-border-radius);
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover,
.menu-toggle:focus {
  border: none;
}
.menu-container .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-black-color);
}
.menu-toggle:hover .icon,
.menu-toggle:focus .icon {
  fill: var(--primary-white-color);
}

.mobile-menu {
  color: var(--ocean, #404BBF);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.72px;
text-transform: capitalize;
margin: 0;
list-style: none;
display: flex;
flex-direction: column;
align-items:start;
margin-bottom: 284px;
}
.mobile-menu .nav-menu-studio:hover,
.mobile-menu .nav-menu-studio:focus {
  color: var(--pressed-state-color);
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--primary-black-color);
  text-decoration: none;
}
.social-links-btn-mobile .icon {
  fill: #fff;
}
/* hero section  */
.hero-section {
  background-color: var(--grey-70perc);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background/mobile-hero@1x.jpg);
  padding: 112px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .hero-section {
    width: 768px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background/tablet-hero@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    width: 768px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background/tablet-hero@2x.jpg);
  }
}
.webstudio-title {
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  max-width: 320px;
  margin: 0 auto;
}
.order-service {
  display: block;
  margin: 0 auto; 
  font-family: var(--primary-font);
  background: var(--primary-brand-color);
  color: var(--primary-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 48px;
  min-width: 105px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service:hover,
.order-service:focus,
.order-service:active {
  background-color: var(--pressed-state-color);
}
.section-studio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-black-color);
  margin-bottom: 72px;
}

/* modal window */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
}
.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.modal-button {
  padding: 0;
  cursor: pointer;
  background-color: var(--primary-accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  border: none;
  background-color: var(--pressed-state-color);
}
.modal .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-black-color);
}
.modal-button:hover .icon,
.modal-button:focus .icon {
  fill: var(--primary-white-color);
}
.modal-title {
  margin-bottom: 16px;
  width: 360px;
  color: var(--primary-black-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 100%;
  justify-content: center;
}
.form-button {
  align-self: flex-start;
}
.form-input {
  cursor: pointer;
  padding: 4px;
  color: #212121;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-comment {
  padding: 4px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-comment::placeholder {
  font-family: inherit;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--helper-text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-input-group {
  margin-bottom: 8px;
}
.modal-input-group-comment {
  margin-bottom: 16px;
}
.modal-input-group .input-group-item {
  position: relative;
}
.modal-input-group .icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: var(--primary-black-color);
}
.form-input:hover,
.form-input:focus,
.form-input-comment:hover,
.form-input-comment:focus {
  border-color: #4d5ae5;
}
.form-input:hover + svg,
.form-input:focus + svg {
  fill: #4d5ae5;
}
.form-button {
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  align-items: flex-start;
  border-radius: 4px;
  background-color: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--pressed-state-color);
}

/* checkbox */
.box-btn-text {
  display: flex;
  margin-bottom: 24px;
}
.checkbox-box {
  margin-right: 8px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-text {
  color: var(--helper-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.checkbox-text a {
  color: var(--primary-brand-color);
}
input[type="checkbox"]:checked + .checkbox-text .checkbox-box {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--cloud);  
}
